<html>
<head></head>
<body>
<h1>type in your name</h1>

<form action="/goodbye" method="POST">
  <label for="nameee">Nameaaaaaa</label>

   <p><input type="text" name="nameaa" id=":1" /></p>

   <input type="submit" value="Submit"/>
</body>
</html>
